<%= will_paginate @posts %>

<div id="posts">
  <%= render @posts %>
</div>


<br />
<% if @user && @posts.first %>
 <% if @user.id == @posts.first.user_id %>>
   <%= link_to 'New Post', new_user_post_path( @user.id ) %>
 <% end %>
<% else if @user && @user.id == @show_user.id %>
  <%= link_to 'New Post', new_user_post_path( @user.id ) %>
<% end %>
<% end %>



<%= link_to 'Back', root_url %>