<div class="posts">
<h1>
  <%= @post.title %>
</h1>

<p>
  
  <%= @post.body %>
  
</p>
<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Destroy', [@user, @post], confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', user_posts_path(@user) %>

<hr>
</div>
<div id="comments">
<% if @comments.empty? %>
  <p>There's no comments yet</p>
<% else %>
<h2>Comments:</h2>    <%= render @comments %>
<% end %> 
</div> 
   
<h3 class="add">Add a comment:</h3>
<%= form_for([@user, @post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>