<% content_for :script, javascript_include_tag("mercury") %>

<div class="posts">
<h1>
  <span id="post_title" class="mercury-region" data-type="editable">
    <%= raw @post.title %>
  </span>
</h1>

<div id="post_body" class="mercury-region" data-type="editable">
    <%= raw @post.body %>
</div>

<div id="private_box" style="display:none;" class="mercury-region" data-type="editable">
<!--
  <input id="is_private" name="is_private" type="checkbox" value="true" class="mercury-region" data-type="editable" checked="checked"/>Private?
  <input id="is_private" name="is_private" type="checkbox" value="true" class="mercury-region" data-type="editable" />Private? -->

  <% if @post.is_private? %>
    TODO: Сделать удобный метод, задающий приватность поста.
  <% else %>
    TODO: Сделать удобный метод, задающий приватность поста.
  <% end %>

</div>

<div id="links">
  <% if @user %>
    <%= link_to 'Edit', edit_user_post_path(@show_user, @post), id: "edit_link", data: {save_url: mercury_update_user_post_path(@show_user, @post)} %> |
    <%= link_to 'Destroy', [@show_user, @post], confirm: 'Are you sure?', method: :delete %> |
  <% end %>
  <%= link_to 'Back', user_posts_path(@show_user) %>
</div>
<hr>
</div>
<div id="comments">
<% if @comments.empty? %>
  <div id="comments_count">
    <h3>There's no comments yet</h3>
  </div>
<% else %>
  <div id="comments_count">
    <h3><%= pluralize(@comments.count, 'Comment') %></h3>
  </div>    <%= render @comments %>

<% end %> 
</div> 


<% if cookies[:auth_token] %>
<div id="add_comments">
<h3 class="add">Add a comment:</h3>
<%= form_for([@show_user, @post, @post.comments.build], :remote => true) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div><% end %>