<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag   "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :script %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(document).ready(function() {
        $("#cleditor").cleditor({useCSS: true});
      });
  </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">AwesomeBlog v0.4</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span3" style="text-align:center;">
			<% if current_user %>
				Logged in as <%= current_user.email %><br>
				<%= link_to "Log out", log_out_path %>
			<% else %>
				You still need to <%= link_to "log in", log_in_path %> or <%= link_to "sign up", sign_up_path %> to post something.
    
			<% end %>
		</div>
		<div class="span9" style="text-align:center;">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
