<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table width=96%>
  <tr>
    
<td colspan=2><center><h1>Super Awesome Blog v0.2</h1></center></td>
</tr>
<tr>
  <td align="center" width=15%>
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    You still need to <%= link_to "log in", log_in_path %> or <%= link_to "sign up", sign_up_path %> to post something.
    
  <% end %>
</div>
</td>
  <td>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
</td>
</tr>
</table>
</body>
</html>
